*{
    margin: 0;
    padding: 0;
}


.score {
    width: 100%;
    background-color: black;
    height: 70px;
}


.game{
    width: 450px;
    height: 90%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left: 27%;
    right: 28%;
    background-color:black;
}


.start {
    padding: 20px;
    color:white;
    background-color: red;
    width: 600px;
    height: 100px;
    position: absolute;
    margin-left: 32%;
    margin-top: 20px;
    z-index: 1; 
    align-items: center;
    text-align: center;
    }

    .hide {
        display: none;
    }

    .car {
        background-color: red;
        /*background-image: url("car2.png");
        background-size: contain;*/
        height: 100px;
        width: 70px;
        position: absolute;
        bottom: 0;
    }

    .line {
        background-color: white;
        height: 130px;
        position: absolute;
        margin-left: 47%;
        width: 10px;
        gap: 10px;

    }